<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <script src="js/stomp.js"></script>
      <script src="js/batalionWs.js"></script>
      <script src="js/batalion.js"></script>
      <style>
        body {
          background-color: black;
        }
      </style>
      <title>Web-component</title>
  </head>
  <body>
    <div id="app">
      <batalion-comp id="1" posX="0" posY="0"></batalion-comp>
      <batalion-comp id="2" posX="230" posY="0"></batalion-comp>
    </div>
  </body>
</html>
